body 
{
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

/* =================== */
/* > UTILITY CLASSES < */
/* =================== */
.undeco-anchor,
.undeco-anchor:link,
.undeco-anchor:visited,
.undeco-anchor:hover,
.undeco-anchor:active
{
    text-decoration: none;
    color: inherit;
    font-weight: inherit; 
}

/* ========== */
/* > HEADER < */
/* ========== */

#header 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    border-bottom: 1px solid #fff
}

#site-name 
{
    text-decoration: underline;
    text-decoration-color: #782121;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0;
    color: #000;
    transition: 0.25s ease;
}
#site-name:hover
{
    transform: scale(1.1,1.1);
}

#site-name-c 
{
    color: #782121; 
}

nav a 
{
    color: #333; 
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 2rem; 
}

.menu-button
{
    text-decoration: underline;
    text-decoration-color: #782121;
    transition: 0.25s ease;
    display: inline-block;
}

.menu-button:hover
{
    color: #000;
    transform: scale(1.05,1.05);
}

.main-img 
{
    width: 100%;
    display: block; 
    object-fit: cover;
    height: 50vh;
}

/* ============ */
/* >  STOPKA  < */
/* ============ */

#footer 
{
    text-align: center;
    color: #777777; 
    
    padding: 2rem 0;
    margin-top: 3rem;
    
    background-color: #f9f9f9;
    border-top: 1px solid #e1e1e1;
    
    font-size: 0.9rem;
}

/* =========================== */
/* >  MEDIA (MOBILE/TABLET)  < */
/* =========================== */


@media (max-width: 768px) 
{
    #header 
    {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .main-img
    {
        height: 30vh; 
    }

    nav a 
    {
        font-size: 1rem;
        margin-left: 1rem;
    }
    
    nav a:first-child 
    {
        margin-left: 0;
    }

    
}